.wrapper {
    display: flex;
    height: 40px;

    cursor: pointer;
}

.wrapper div {
    flex: 1;
    user-select: none;
    color: #000;
    line-height: 40px;
    font-size: 24px;
}

.wrapper div[checked="true"] {
    background-color: rgba(255, 255, 255, 0.5);
}

.wrapper div:active {
    background-color: rgba(255, 255, 255, 0.5);
}


.disable {
    opacity: 0.5;
    pointer-events: none;
}