.wrapper {
    border: 2px solid #000;
    border-radius: 8px;
}

.wrapper>input {
    width: calc(100% - 16px);
    height: calc(100% - 2px);
    line-height: 100%;
    outline: none;
    border: none;
}