.wrapper {
    position: relative;
}

.seat {
    width: 48px;
    height: 48px;
    position: relative;
    background-size: contain;
    border-radius: 50%;
    margin: auto;
}

.name {
    font-size: 12px;
}

.nobody {
    background-color: gray;
}

.badge {
    position: absolute;
    left: calc(50% - 20px);
    z-index: 20;
    top: -5px;
}